<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h3>Solution Web Ti</h3>
        <p>Transformando ideias em soluções digitais inovadoras.</p>
        <div class="social-links">
          <a href="https://www.instagram.com/solutionwebti?igsh=a3g5c2QzcjFjd214" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
            <img src="/instagram.gif" alt="Instagram" class="social-icon-img" />
          </a>

          <a href="https://wa.me/5511973087033?text=Ol%C3%A1%21%20Gostaria%20de%20mais%20informa%C3%A7%C3%B5es." target="_blank" rel="noopener noreferrer" aria-label="WhatsApp">
            <img src="/whatsapp.gif" alt="WhatsApp" class="social-icon-img" />
          </a>
        </div>
      </div>

      <div class="footer-section">
        <h4>Links Rápidos</h4>
        <ul>
          <li><a href="#" (click)="navigateTo('/'); $event.preventDefault()">Home</a></li>
          <li><a href="#" (click)="navigateTo('/sobre'); $event.preventDefault()">Sobre Nós</a></li>
          <li><a href="#" (click)="navigateTo('/servicos'); $event.preventDefault()">Serviços</a></li>
          <!-- <li><a href="#" (click)="navigateTo('/blog'); $event.preventDefault()">Blog</a></li> -->
        </ul>
      </div>

      <div class="footer-section">
        <h4>Serviços</h4>
        <ul>
          <li><a href="#" (click)="navigateTo('/servicos','service-1'); $event.preventDefault()">Desenvolvimento Web</a></li>
          <!-- <li><a href="#">Desenvolvimento Mobile</a></li> -->
          <li><a href="#" (click)="navigateTo('/servicos','service-2'); $event.preventDefault()">Consultoria TI</a></li>
          <!-- <li><a href="#">Cloud Solutions</a></li> -->
        </ul>
      </div>

      <div class="footer-section">
        <h4>Contato</h4>
        <ul class="contact-info">
          <!-- <li>📧 contato@solutionwebti.com</li> -->
          <li>📱 (11) 97308-7033</li>
          <li>📍 Mogi das Cruzes, SP - Brasil</li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; {{ currentYear }} Solution Web Ti. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>
